<nav class="topnav" aria-label="Main navigation">
  <div id="myLinks">
    {% include navigation.md %}
  </div>
  <button class="icon" type="button" aria-controls="myLinks" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <a class="university-logo" href="{{ site.affiliation_link }}" aria-label="Peking University">
    <img width="100" src="/{{ site.affiliation_logo | remove_first: './' }}" alt="Peking University">
  </a>
</nav>
